body{
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}

h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#testimonials h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* navbar and title */

#title {
    background-color: #ff4c68;
}

.container-fluid {
   padding: 3% 15% 10%;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Download Buttons */
.download-buttons {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features */

.icon:hover {
    color: #ff4c68;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#features h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.icon {
    padding-bottom: 10%;
    text-align: center;
    font-size: 4.5rem;
    color: #ef8172;
}

/* testimonial section*/

#testimonials {
    text-align: center;
    background-color:#ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 0 auto;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%; 
}

.press-icon {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

.user-name{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

#pricing h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

#pricing h3{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

.pricing-column{
    padding: 3% 2%;
}

/* for mobile/tablet */
@media (max-width:1028px ) {
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

#cta h3{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
    font-weight: bold;
}

.download-buttons2 {
    margin: 5% 3% 3% 0;
}

#footer{
    text-align: center;
    padding: 3%;
    line-height: 2.5;
}

.footer-icons{
    padding: 7px;
}